In [14]:
x="typeme"
print("x is a {} and the value is {}".format(x,type(x)))

x is a typeme and the value is <class 'str'>

In [7]:
type(x)

str

In [8]:
clear

In [9]:
cls

NameError: name 'cls' is not defined

In [10]:
x

'typeme'

In [15]:
x=0.1
y=0.2

In [16]:
x+y

0.30000000000000004

In [17]:
x*y

0.020000000000000004

In [21]:
def add(x,y,z=7):
    print(x+y+z)
    
add(1,2)

10

In [26]:
3 ** 8

6561

In [41]:
x=[400,20,30,5046,20,"HELLO"]

In [32]:
sum(x)

5516

In [33]:
x.sort()
x

[20, 20, 30, 400, 5046]

In [40]:
y=["iamnotsure",123456,654321,"olalala"]

In [37]:
x.append(y)

In [38]:
x

[400, 20, 30, 5046, 20, 'HELLO', 20, ['iamnotsure', 123456, 654321, 'olalala']]

In [42]:
x.extend(y)

In [43]:
x

[400, 20, 30, 5046, 20, 'HELLO', 'iamnotsure', 123456, 654321, 'olalala']

In [44]:
a=[1,2,3,4,5,6]
b=[2,3,4,5,6,7]
a*b

TypeError: can't multiply sequence by non-int of type 'list'

In [51]:
tup=(1,1,2,3,4)

In [46]:
count(tup)

NameError: name 'count' is not defined

In [52]:
tup.count(1)

2

In [54]:
tup.index(1)

0

In [56]:
mydict = {
    "a" : 12,
    "b" : 69,
    "c" : 420,
    
}
mydict

{'a': 12, 'b': 69, 'c': 420}

In [65]:
print(mydict.keys())
print(mydict.items())
print(mydict.values())

dict_keys(['a', 'b', 'c'])
dict_items([('a', 12), ('b', 69), ('c', 420)])
dict_values([12, 69, 420])

In [66]:
mydict.pop

In [67]:
mydict

{'a': 12, 'b': 69, 'c': 420}

In [72]:
mydict.pop("a")

12

In [74]:
mydict

{'b': 69, 'c': 420}

In [1]:
numpy

NameError: name 'numpy' is not defined